# Dependencies
node_modules/

# Build outputs
dist/
.turbo/
build/

# Environment
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.idea
*.turbo
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# OS
.DS_Store
Thumbs.db

# Prisma
apps/server/prisma/migrations/

# Logs
*.log
